<tr>
  <td>
    <%= link_to photo do %>
      <% if photo.file? %>
        <%= image_tag(photo.file.small, alt: photo.name, class: 'img-rounded img-responsive') %>
      <% else %>
        <img src="http://placehold.it/240x240" alt="Photo" class="img-rounded img-responsive">
      <% end %>
    <% end %>
  </td>
  
  <td><%= link_to photo.user.name, photo.user %></td>

  <td>
    <%= count %>
    <% if count > 10 %>
      <% if photo.user.banned %>
        <strong>Banned</strong>
      <% else %>
        <%= link_to "Ban User", admin_user_path(current_user, photo.user, user: { banned: true }), method: :put, class: 'btn btn-default btn-xs' %>
      <% end %>
    <% end %>
  </td>
</tr>