<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>Top Competitors</h3>
    <%= render partial: 'photos/photo', collection: @top_photos, as: :photo %>
  </div>
</div>

<hr class="mtl">

<% if @challenges.any? %>
  <div class="row text-color-primary">
    <div class="col-sm-12">
      <h3>Current Challenges</h3>
      <%= render partial: @challenges %>
    </div>
  </div>

  <hr class="mtl">
<% end %>

<% if @favorites.any? %>
  <div class="row text-color-primary">
    <div class="col-sm-12">
      <h3>Favorite Photos</h3>
      <%= render partial: 'photos/photo', collection: @favorites, as: :photo %>
      </div>
  </div>

  <hr class="mtl">
<% end %>

<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>My Photos</h3>
    <%= render partial: @photos %>

    <% if policy(@photo).new? && @user == current_user %>
      <div class="panel panel-default inline-block">
        <div class="panel-heading">
          <%= link_to new_photo_path do %>
            <%= image_tag('upload.jpg', alt: 'New Photo', class: 'img-rounded img-responsive') %>
          <% end %>
        </div>

        <div class="panel-body">
          <small>
            <span class="pull-left text-center">Upload a new photo</span>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>