<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>Top Competitors</h3>
    <% if @top_photos.any? %>
      <%= render partial: 'photos/photo', collection: @top_photos, as: :photo %>
    <% end %>
  </div>
</div>

<hr class="mtl">

<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>Current Challenges</h3>
    <% if @challenge_photos.any? %>
      <%= render partial: 'photos/photo', collection: @challenge_photos, as: :photo %>
    <% end %>
  </div>
</div>

<hr class="mtl">

<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>My Photos</h3>
    <% if @photos.any? %>
      <%= render partial: @photos %>
    <% end %>
    <% if policy(@photo).new? && @user == current_user %>
      <div class="col-sm-4 inline-block">
        <%= link_to new_photo_path do %>
          <%= image_tag('upload.jpg', alt: 'New Photo', class: 'img-rounded img-responsive') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>