<div id="featuredCarousel", class="carousel slide mtl" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#featuredCarousel" data-slide-to="1"></li>
    <li data-target="#featuredCarousel" data-slide-to="2"></li>
    <li data-target="#featuredCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% if @top_photos.any? %>
      <% @top_photos.each_with_index do |photo, index| %>
        <%= index == 0 ? tag('div', class: 'item active') : tag('div', class: 'item') %>
          <% if photo.file? %>
            <%= image_tag(photo.file.feature, alt: photo.name, class: 'center-block') %>
          <% else %>
            <img src="http://placehold.it/960x640" alt="Photo" class="center-block">
          <% end %>  
          <div class="carousel-caption">
            <p><%= photo.name? ? photo.name.capitalize : photo.category.name.capitalize %></p>
            <p>Photo by: <%= photo.user.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row text-color-primary max-960">
  <div class="col-sm-4">
    <h3>PhotoChamp</h3>
    <p>A place to share your photos</p>
  </div>

  <div class="col-sm-4">
    <h3>Compete</h3>
    <p>The best photos come out on top</p>
  </div>

  <div class="col-sm-4">
    <h3>Improve</h3>
    <p>The more you challenge, the better your photography skills become</p>
  </div>
</div>

<div class="row text-color-primary">
  <div class="col-md-12">
    <div class="text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %>
      or
      <%= link_to "Log In", new_user_session_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
