<div id="featuredCarousel", class="carousel slide mtl" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#featuredCarousel" data-slide-to="1"></li>
    <li data-target="#featuredCarousel" data-slide-to="2"></li>
    <li data-target="#featuredCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% if @top_photos.any? %>
      <% @top_photos.each_with_index do |photo, index| %>
        <%= index == 0 ? tag('div', class: 'item active') : tag('div', class: 'item') %>
          <% if photo.url? %>
            <%= image_tag(photo.url.feature, alt: photo.name, class: 'middle') %>
          <% else %>
            <img src="http://placehold.it/960x640" alt="Photo" class="middle">
          <% end %>  
          <div class="carousel-caption">
            <p><%= photo.category.name.capitalize %></p>
            <p>Photo by: <%= photo.user.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="text-color-primary">
      Think you have a blue ribbon photo?<br>
      Prove it in a duel and see who comes out on top.<br>
      Will you be undefeated?
    </h3>
    <div class="text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
