<div class="row form-inline mbm">
  <%= form_for photo do |f| %> 
    <div class="col-sm-4 text-left">
      <div class="form-group">
        <% unless photo.url? %>
          <%= f.file_field :url, accept: 'image/jpg,image/jpeg,image/gif,image/png' %>
          <%= f.hidden_field :url_cache %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-8 text-right">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category_id, categories, {}, { class: 'form-control' } %>
      </div>
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter photo name' %>
      </div>

      <div class="form-group">
        <% if photo.url? %>
          <%= f.submit "Save", class: 'btn btn-default pull-right' %>
        <% else %>
          <%= f.submit "Upload", class: 'btn btn-default pull-right' %>
        <% end %>
      </div>
    </div>
  <% end %>  
</div>