<div class="row text-left">
  <%= form_for photo do |f| %> 
    <div class="col-sm-12">
      <% unless photo.file? %>
        <div class="form-group">
          <%= f.file_field :file, accept: 'image/jpg,image/jpeg,image/gif,image/png' %>
          <%= f.hidden_field :file_cache %>
        </div>

        <hr class="mbm">
      <% end %>

      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category_id, categories, {}, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <% if policy(Category.new).new? %>
          <%= f.text_field :new_category_name, class: 'form-control', placeholder: 'New category (leave blank to choose a category)' %>
        <% end %>
      </div>
  
      <hr class="mbm">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter photo name...' %>
      </div>

      <div class="form-group">
        <%= f.submit (photo.file? ? "Save" : "Upload"), class: 'btn btn-default pull-right' %>
      </div>
    </div>
  <% end %>  
</div>