<div class="panel panel-default inline-block">
  <div class="panel-heading">
    <%= link_to photo do %>
      <% if photo.file? %>
        <%= image_tag(photo.file.small, alt: photo.name, class: 'img-rounded img-responsive') %>
      <% else %>
        <img src="http://placehold.it/240x240" alt="Photo" class="img-rounded img-responsive">
      <% end %>
    <% end %>
  </div>  
  
  <div class="panel-body">
    <small>
      <span class="pull-left">
        <%= link_to truncate(photo.category.name, length: 15), photo.category %>
      </span>

      <span class="pull-right">
        <%= truncate(photo.name, length: 15) || "Photo" %>
        by: 
        <%= link_to photo.user.name, photo.user %>
      </span>
    </small>
  </div>
</div>