<div class="row mtl text-color-primary">
  <div class="col-xs-12 clearfix">
    <img src="http://placehold.it/1140x760" alt="Photo" class="img-rounded img-responsive">
    <span class="pull-left"><%= @photo.category.name.capitalize %></span>
    <span class="pull-right">Image by: <%= @photo.user.name %></span>
  </div>

  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h5>Wins: <%= @photo.win %></h5>
    <h5>Losses: <%= @photo.loss %></h5>
    <h5>Ties: <%= @photo.tie %></h5>
  </div>
  <div class="col-xs-4">
    <%= link_to "Button 1", "#", class: 'btn btn-default' %>
    <%= link_to "Button 2", "#", class: 'btn btn-default' %>
  </div>

  <div class="col-xs-12">
    <h3>Comments</h3>
  </div>
</div>