<div class="panel panel-default inline-block">
  <div class="panel-heading">
    <%= link_to challenge do %>
      <% if challenge.challenger.file? %>
        <%= image_tag(challenge.challenger.file.small, alt: challenge.challenger.name, class: 'img-rounded img-responsive') %>
      <% else %>
        <img src="http://placehold.it/240x240" class="img-rounded img-responsive">
      <% end %>

      <% if challenge.challenged.file? %>
        <%= image_tag(challenge.challenged.file.small, alt: challenge.challenged.name, class: 'img-rounded img-responsive') %>
      <% else %>
        <img src="http://placehold.it/240x240" class="img-rounded img-responsive">
      <% end %>
    <% end %>
  </div>

  <div class="panel-body text-center">
    <strong><%= challenge.challenger.name || challenge.challenger.user.name %></strong>
    vs
    <strong><%= challenge.challenged.name || challenge.challenged.user.name %></strong>
  </div>
</div>