<div class="row">
  <div class="col-sm-12">
    <h3>Create a Challenge!</h3>
  </div>
</div>

<%= form_for @challenge do |f| %>
  <%= f.hidden_field :challenged_id, value: @challenged_photo.id %>
  <div class="row mtl">
    <div class="col-sm-6 form-inline">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.select :challenger_id, @challenger_photos.map{|p| [p.name, p.id, data: { url: p.file.challenge.url }] }, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :length %>
        <%= f.select :length, @challenge_length_options, {}, { class: 'form-control' } %>
      </div>
    </div>

    <div class="col-sm-6 text-center">
      <h4><%= @challenged_photo.name %></h4>
    </div>
  </div>

  <div class="row mtl">
    <div class="col-sm-6 challenge-preview">
      <img src="http://placehold.it/550x367" alt="Photo" class="img-rounded img-responsive">
    </div>

    <div class="col-sm-6">
      <% if @challenged_photo.file? %>
        <%= image_tag(@challenged_photo.file.challenge, alt: @challenged_photo.name, class: 'img-rounded img-responsive') %>
      <% else %>
        <img src="http://placehold.it/550x367" alt="Photo" class="img-rounded img-responsive">
      <% end %>
    </div>
  </div>

  <div class="row mtl">
    <div class="col-sm-12 text-right">
      <div class="form-group">
        <%= f.submit "Challenge!", class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    var $sel = $("#challenge_challenger_id")
    preview($("option:selected", $sel).attr("data-url"));

    $sel.change(function() {
      preview($("option:selected", $sel).attr("data-url"));
    });
  });

  function preview(url) {
    $(".col-sm-6.challenge-preview img").attr("src", url);
  }
</script>
