<script>
// Facebook script
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Twitter script
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

// Countdown script
$(function(){
  var timeLeft = new Date(<%= (@challenge.ends_at? ? @challenge.ends_at : 0).to_f * 1000 %>);
  $(".countdown").countdown({until: timeLeft, compact: true});
});

blocmetrics.report("Challenge viewed");
</script>

<%= content_for :meta_tags do %>
  <!-- Facebook meta tags -->
  <%= tag(:meta, property: 'og:url', content: short_url(request.original_url)) %>
  <%= tag(:meta, property: 'og:type', content: "article") %>
  <%= tag(:meta, property: 'og:title', content: "#{@challenge.challenger.user.name} vs #{@challenge.challenged.user.name}!") %>
  <%= tag(:meta, property: 'og:description', content: "Vote for your favorite photo. Share the challenge and see who comes out on top!") %>
  <%= tag(:meta, property: 'og:site_name', content: "PhotoCha.mp") %>
  <%= tag(:meta, property: 'og:image', content: @challenge.challenger.file.small.url) %>
  <%= tag(:meta, property: 'og:image', content: @challenge.challenged.file.small.url) %>

  <!-- Twitter meta tags -->
  <%= tag(:meta, property: 'twitter:card', content: "summary") %>
  <%= tag(:meta, property: 'twitter:description', content: "Vote for your favorite photo. Share the challenge and see who comes out on top!") %>
  <%= tag(:meta, property: 'twitter:title', content: "#{@challenge.challenger.user.name} vs #{@challenge.challenged.user.name}!") %>
  <%= tag(:meta, property: 'twitter:image0', content: @challenge.challenger.file.small.url) %>
  <%= tag(:meta, property: 'twitter:image1', content: @challenge.challenged.file.small.url) %>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <h3><%= @challenge.challenger.category.name %> Challenge</h3>
  </div>

  <div class="col-xs-6 text-right pull-right">
    <strong>Time Left: </strong>
    <span class="countdown"></span>

    <div id="fb-root"></div>
    <%= content_tag(:div, "", class: 'fb-share-button', data: { href: short_url(request.original_url), layout: 'button' }) %>

    <%= link_to "Tweet", "https://twitter.com/share", class: 'twitter-share-button', data: { url: short_url(request.original_url), text: 'Vote for the best photo!', count: 'none', hashtags: 'photochamp' } %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <% if !@challenge.ends_at? %>
      <hr>
      <h5>The challenge hasn't been accepted yet!</h5>
    <% elsif @challenge.completed? %>
      <% if @challenge.draw? %>
        <hr>
        <h5>It was a draw!</h5>
      <% else %>
        <hr>
        <h5><%= @challenge.winner.name %> is the winner!</h5>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= @challenge.challenger.name || @challenge.challenger.user.name %></h4>
        <%= link_to @challenge.challenger do %>
          <%= image_tag(@challenge.challenger.file.challenge, alt: @challenge.challenger.name, class: 'img-rounded img-responsive mbm') %>
        <% end %>
      </div>

      <% if policy(@challenge).vote? %>
        <div class="panel-body">
          <%= link_to "Vote", vote_path(id: @challenge.id, challenge: { vote: 'challenger' }), class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= @challenge.challenged.name || @challenge.challenged.user.name %></h4>
        <%= link_to @challenge.challenged do %>
          <%= image_tag(@challenge.challenged.file.challenge, alt: @challenge.challenged.name, class: 'img-rounded img-responsive mbm') %>
        <% end %>
      </div>
  
      <% if policy(@challenge).vote? %>
        <div class="panel-body">      
          <%= link_to "Vote", vote_path(id: @challenge.id, challenge: { vote: 'challenged' }), class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>