<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @challenge.challenged.user.name %>,</h1>
    <p>
      A new challenge awaits! <%= @challenge.challenger.user.name %> thinks their photo is better than yours - <%= @challenge.challenged.name %>. The challenge will last <%= @challenge.length %> hours. Do you accept the invitation?
    </p>
    <p>
      Click <%= link_to "this link", accept_url(id: @challenge.id) %> to accept the challenge.
    </p>
  </body>
</html>