<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @photo.user.name %></h1>
    <p>
      <% if @result == 'win' %>
        Congratulations, your <%= link_to "photo", @photo %> won!
      <% elsif @result == 'lose' %>
        Sorry, your <%= link_to "photo", @photo %> lost.
      <% elsif @result == 'tie' %>
        Draw! Your <%= link_to "photo", @photo %> tied.
      <% end %>
      Start a new <%= link_to "challenge", category_path(@photo.category) %>.
    </p>
    <h3>Current photo record:</h3>
    <p>
      Wins: <%= @photo.win %>
      Losses: <%= @photo.loss %>
      Draws: <%= @photo.tie %>
    </p>
  </body>
</html>