<!DOCTYPE html>
<html>
<head>
  <title>PhotoChamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :meta_tags if content_for?(:meta_tags) %>
  <%= yield :stripe if content_for?(:stripe) %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "#", class: 'navbar-toggle collapsed', role: 'button', data: { toggle: 'collapse', target: '#navbar-collapse-1' }, aria: { expanded: false } do %>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          <% end %>
          <%= link_to "PhotoChamp", root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Categories", categories_path %></li>
            <li><%= link_to "Challenges", challenges_path %></li>
            <li>
              <% if current_user %>
                <%= link_to "My Page", current_user %>
              <% end %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="greet">Hello <strong><%= current_user.name %></strong></li>
            <% end %>
            <li class="dropdown">
              <%= link_to "#", class: 'dropdown-toggle', id: 'menu-toggle', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
                <span class="glyphicon glyphicon-menu-down"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% if current_user %>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Log In", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <hr class="mtl">

    <div class="row">
      <div class="col-xs-4 text-left">
        <small>In alpha testing</small>
      </div>

      <div class="col-xs-4 text-center">
        <small><%= link_to "Feedback Here", 'http://goo.gl/forms/dbYQbjoi7a' %></small>
      </div>

      <div class="col-xs-4 text-right">
        <small><%= link_to "PhotoChamp", short_url('http://github.com/iamkevinlowe/photochamp') %> by: Kevin L.</small>
      </div>
    </div>
  </div>
</body>
</html>

<script>
  $(document).ready(function() {
    $("#menu-toggle").click(function() {
      $(this).find("span").toggleClass("glyphicon glyphicon-menu-up").toggleClass("glyphicon glyphicon-menu-down");
    });
  });
</script>
